# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Void project related files
.void
.wrangler
*.tsbuildinfo

target/
node_modules/
dist/
dist-ssr
!packages/decoder/dist/
!packages/decoder/dist/**
*.local

napi/ox-jsdoc/src-js/bindings.d.ts
napi/ox-jsdoc/src-js/bindings.js
napi/ox-jsdoc/src-js/ox_jsdoc.*.node
napi/ox-jsdoc-binary/src-js/bindings.d.ts
napi/ox-jsdoc-binary/src-js/bindings.js
napi/ox-jsdoc-binary/src-js/ox_jsdoc_binary.*.node
packages/eslint-plugin-jsdoc/.README
packages/eslint-plugin-jsdoc/coverage
packages/jsdoccomment/coverage/
packages/jsdoccomment/.dts/
.notes/
.playwright-cli
tasks/benchmark/.tmp
tasks/benchmark/results/*
!tasks/benchmark/results/jsdoc-linter-hyperfine.json
!tasks/benchmark/results/jsdoc-linter-hyperfine.json.md
