target/
node_modules/
dist/
!packages/decoder/dist/
!packages/decoder/dist/**
*.log
napi/ox-jsdoc/src-js/bindings.d.ts
napi/ox-jsdoc/src-js/bindings.js
napi/ox-jsdoc/src-js/ox_jsdoc.*.node
napi/ox-jsdoc-binary/src-js/bindings.d.ts
napi/ox-jsdoc-binary/src-js/bindings.js
napi/ox-jsdoc-binary/src-js/ox_jsdoc_binary.*.node
packages/eslint-plugin-jsdoc/.README
packages/eslint-plugin-jsdoc/coverage
packages/jsdoccomment/coverage/
packages/jsdoccomment/.dts/
.notes/
.playwright-cli
tasks/benchmark/.tmp
tasks/benchmark/results/*
!tasks/benchmark/results/jsdoc-linter-hyperfine.json
!tasks/benchmark/results/jsdoc-linter-hyperfine.json.md