target/
node_modules/
dist/
*.log
napi/ox-jsdoc/src-js/bindings.d.ts
napi/ox-jsdoc/src-js/bindings.js
napi/ox-jsdoc/src-js/ox_jsdoc.*.node
napi/ox-jsdoc-binary/src-js/bindings.d.ts
napi/ox-jsdoc-binary/src-js/bindings.js
napi/ox-jsdoc-binary/src-js/ox_jsdoc_binary.*.node
.notes/
.playwright-cli